@font-face {
    font-family: 'Informa Pro Condensed';
    src: url('InformaPro-CondensedBold.eot');
    src: local('Informa Pro Condensed Bold'), local('InformaPro-CondensedBold'),
        url('InformaPro-CondensedBold.eot?#iefix') format('embedded-opentype'),
        url('InformaPro-CondensedBold.woff2') format('woff2'),
        url('InformaPro-CondensedBold.woff') format('woff'),
        url('InformaPro-CondensedBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Informa Pro';
    src: url('InformaPro-Italic.eot');
    src: local('Informa Pro Italic'), local('InformaPro-Italic'),
        url('InformaPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('InformaPro-Italic.woff2') format('woff2'),
        url('InformaPro-Italic.woff') format('woff'),
        url('InformaPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Informa Pro Condensed';
    src: url('InformaPro-CondensedRegular.eot');
    src: local('Informa Pro Condensed Regular'), local('InformaPro-CondensedRegular'),
        url('InformaPro-CondensedRegular.eot?#iefix') format('embedded-opentype'),
        url('InformaPro-CondensedRegular.woff2') format('woff2'),
        url('InformaPro-CondensedRegular.woff') format('woff'),
        url('InformaPro-CondensedRegular.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Informa Pro';
    src: url('InformaPro-LightItalic.eot');
    src: local('Informa Pro Light Italic'), local('InformaPro-LightItalic'),
        url('InformaPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('InformaPro-LightItalic.woff2') format('woff2'),
        url('InformaPro-LightItalic.woff') format('woff'),
        url('InformaPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Informa Pro Condensed';
    src: url('InformaPro-CondensedLight.eot');
    src: local('Informa Pro Condensed Light'), local('InformaPro-CondensedLight'),
        url('InformaPro-CondensedLight.eot?#iefix') format('embedded-opentype'),
        url('InformaPro-CondensedLight.woff2') format('woff2'),
        url('InformaPro-CondensedLight.woff') format('woff'),
        url('InformaPro-CondensedLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Informa Pro Condensed';
    src: url('InformaPro-CondensedMedium.eot');
    src: local('Informa Pro Condensed Medium'), local('InformaPro-CondensedMedium'),
        url('InformaPro-CondensedMedium.eot?#iefix') format('embedded-opentype'),
        url('InformaPro-CondensedMedium.woff2') format('woff2'),
        url('InformaPro-CondensedMedium.woff') format('woff'),
        url('InformaPro-CondensedMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Informa Pro';
    src: url('InformaPro-BoldItalic.eot');
    src: local('Informa Pro Bold Italic'), local('InformaPro-BoldItalic'),
        url('InformaPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('InformaPro-BoldItalic.woff2') format('woff2'),
        url('InformaPro-BoldItalic.woff') format('woff'),
        url('InformaPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Informa Pro';
    src: url('InformaPro-MediumItalic.eot');
    src: local('Informa Pro Medium Italic'), local('InformaPro-MediumItalic'),
        url('InformaPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('InformaPro-MediumItalic.woff2') format('woff2'),
        url('InformaPro-MediumItalic.woff') format('woff'),
        url('InformaPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Informa Pro';
    src: url('InformaPro-Bold.eot');
    src: local('Informa Pro Bold'), local('InformaPro-Bold'),
        url('InformaPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('InformaPro-Bold.woff2') format('woff2'),
        url('InformaPro-Bold.woff') format('woff'),
        url('InformaPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Informa Pro';
    src: url('InformaPro-Light.eot');
    src: local('Informa Pro Light'), local('InformaPro-Light'),
        url('InformaPro-Light.eot?#iefix') format('embedded-opentype'),
        url('InformaPro-Light.woff2') format('woff2'),
        url('InformaPro-Light.woff') format('woff'),
        url('InformaPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Informa Pro';
    src: url('InformaPro.eot');
    src: local('Informa Pro'), local('InformaPro'),
        url('InformaPro.eot?#iefix') format('embedded-opentype'),
        url('InformaPro.woff2') format('woff2'),
        url('InformaPro.woff') format('woff'),
        url('InformaPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Informa Pro';
    src: url('InformaPro-Medium.eot');
    src: local('Informa Pro Medium'), local('InformaPro-Medium'),
        url('InformaPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('InformaPro-Medium.woff2') format('woff2'),
        url('InformaPro-Medium.woff') format('woff'),
        url('InformaPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

