@font-face {
  font-family: "nove";
  src: url(../../../fonts/Nove.ttf);
  font-style: normal;
}
/* NAVBAR */

.nav-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
  background: var(--primary-color);
  /* TODO PICK A NAVBAR BACKGROUND */
  /* background: linear-gradient(#f9b376, #ea6d7b);
  background: linear-gradient(#f9b376, #eb7279); */
  /* background: transparent;*/
  background: var(--nav-background);
  background: var(--nav-background-gradient);
  /* position: relative; */
  padding: 0 6%;
  box-shadow: 0 24px -6px var(light-gray);
  border-bottom: 0.5px solid black;
}

/* NAV LOGO */

.brand-logo {
  /* position: absolute; */
  z-index: 999999;
  width: 97.59px;
  height: 97.59px;
  aspect-ratio: 1 / 1;
  margin-left: 1%;
  /* top: 1.7vh;
  left: 5vw; */
}

#nav-logo {
  height: 100%;
  transition: transform 0.5s ease-in-out, opacity 0.4s ease-in;
  /* margin: 5px 10px; */
}

#nav-logo:hover {
  transform: rotate3d(0, 0, 1, 720deg);
}

/* NAV LOGO END */

nav.navbar {
  display: inline-flex;
  flex: 1;
  /* max-width: 60vw; */
  justify-content: space-evenly;
  align-items: center;
  min-height: 5.5rem;
  margin: 0 0 0 1%;
  z-index: 1000;
  list-style: none;
  transition: transform 0.5s ease-in-out;

  li {
    margin: 0.9rem 0.9rem;
    box-sizing: border-box;
    display: block;
    white-space: nowrap;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 1.4rem;
      font-family: var(--special-font);
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 5px 0 #000;
      transition: transform 0.4s ease-in-out, opacity 0.2s ease;

      text-decoration: none;
      letter-spacing: 2px;

      &:before,
      &:after {
        display: block;
        content: attr(data-glitch);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0.8;
      }
      &:after {
        color: #f0f;
        z-index: -2;
      }
      &:before {
        color: #0ff;
        z-index: -1;
      }
      &:hover {
        &:before {
          animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both
            infinite;
        }
        &:after {
          animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse
            both infinite;
        }
      }
    }

    @keyframes glitch {
      0% {
        transform: translate(0);
      }
      20% {
        transform: translate(-5px, 5px);
      }
      40% {
        transform: translate(-5px, -5px);
      }
      60% {
        transform: translate(5px, 5px);
      }
      80% {
        transform: translate(5px, -5px);
      }
      to {
        transform: translate(0);
      }
    }

    &:hover {
      a {
        transform: scale(1.2);
        color: var(--secondary-color);
      }
    }
  }
}

/* RIGHT NAV */

.right-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 16rem;
  /* height: 10vh; */
}

a#ticket-link {
  cursor: pointer;
  color: var(--secondary-color);
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-family: var(--special-font);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 5px 0 #000;
  min-width: 50%;
  height: calc(100% / 3);

  /* position: absolute;
  bottom: calc(10vh / 3);
  left: 0; */
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;

  white-space: nowrap;
  /* border: 1px outset black; */
  padding: 1.4rem 1rem;
  border-radius: 1rem;
  background-color: var(--navbar-background-gradient);

  transition: all 0.3s ease-out;

  perspective: 100px;
  /* transform: translateZ(40px); */
  /* transform: translate3d(-0px, 0px, -0px); */
  transform: translateZ(0px) translateX(5px) translateY(-2px);

  -webkit-box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.75);
  box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.75);
  span {
    &:before,
    &:after {
      display: block;
      content: attr(data-glitch);
      position: absolute;
      top: 0.65rem;
      left: 1rem;
      height: 100%;
      width: 100%;
      opacity: 0.8;
    }
    &:after {
      color: #f0f;
      z-index: -2;
    }
    &:before {
      color: #0ff;
      z-index: -1;
    }
    &:hover {
      /* letter-spacing: 16px; */

      /* animation: letters 2s infinite; */
      &:before {
        animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both
          infinite;
      }
      &:after {
        animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both
          infinite;
      }
    }
  }
}

a#ticket-link:hover,
a#ticket-link:focus {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.75);

  transform: translateZ(0px) translateX(0px) translateY(0px);
}

/* navbar hambuger */

.hamburger-wrapper {
  position: relative;
  z-index: 9997;
}

.nav-wrapper input.nav-toggle {
  display: none;
  position: relative;
  /*
  top: calc(3.24rem / 2);
  right: 0; */
  z-index: 9999;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0;
}

.nav-wrapper .hamburger {
  display: none;
  position: absolute;
  /* top: calc(3.24rem / 2); */
  top: 0;
  right: 0;
  z-index: 9998;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  background: var(--secondary-color);
  border-radius: 10%;
  border: 1px solid black;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.nav-wrapper .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  border-radius: 10%;
  background-color: #000;
  /* display: none; */
  align-items: center;
  justify-content: center;

  transition: all 0.4s cubic-bezier(0.48, 1.95, 0.32, 1.89);
}

.nav-wrapper .hamburger > div::before,
.nav-wrapper .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -8px;
  width: 100%;
  height: 2px;
  border-radius: 10%;
  background: inherit;
}

.nav-wrapper .hamburger > div::after {
  top: 8px;
}

/* toggle animation */
.nav-wrapper input.nav-toggle:checked + .hamburger > div {
  transform: rotate(135deg);
}
/* tranform to X */
.nav-wrapper input.nav-toggle:checked + .hamburger > div::before,
.nav-wrapper input.nav-toggle:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

/* NAVBAR MEDIA QUERIES */

@media (width <= 70em) {
  .nav-wrapper input.nav-toggle {
    display: block;
  }

  nav.navbar.nav-closed {
    position: fixed;
    transform: translateX(100%);
    margin: 0 0 0 0%;
    inset: 0 0% 0% 60%;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    padding: min(15vh, 10rem) 1em;
    overflow-wrap: break-word;
    /* background: hsl(0 0% 100% / 0, 1); */
    background: var(--primary-color-brighter-transparent);
    backdrop-filter: blur(0.4rem);
    border-left: black solid 1px;
    border-bottom: black solid 1px;
    border-radius: 0 0 0 5%;
    border-style: outset;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    li {
      a {
        opacity: 0;
      }
    }
  }
  nav.navbar.nav-open {
    position: fixed;
    margin: 0 0 0 0%;
    height: 100vh;
    inset: 0 0 0 60%;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    padding: min(15vh, 10rem) 1em;
    overflow-wrap: break-word;
    background: var(--primary-color-brighter-transparent);
    backdrop-filter: blur(0.4rem);
    border-left: black solid 1px;
    border-bottom: black solid 1px;
    border-radius: 0 0 0 5%;
    border-style: outset;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }

  nav.navbar li {
    padding: 0 2rem 0 2rem;
    width: fit-content;
    white-space: normal;
    width: fit-content;
  }

  /* .nav-wrapper input.nav-toggle {
    opacity: 1;
  } */

  .nav-wrapper .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .brand-logo .nav-closed {
    opacity: 0;
  }

  .brand-logo .nav-open {
    opacity: 1;
  }
}

@media (width <= 48.25em) {
  .nav-wrapper input.nav-toggle {
    display: block;
  }

  nav.navbar.nav-closed {
    inset: 0 0 0 0;
    transform: translateY(-100%);
  }

  .brand-logo .nav-closed {
    opacity: 0;
  }

  .brand-logo .nav-open {
    opacity: 1;
  }

  nav.navbar.nav-open {
    /* inset: 0 0 40% 40%; */
    inset: 0 0 0 0;
    /* width: 100%; */
    white-space: nowrap;
  }

  nav.navbar.nav-open li a {
    overflow-wrap: break-word;
  }
}

/* NAVBAR END */
