.photo-btn-container {
  display: flex;
  justify-content: center;
}

.photogrid-wrapper {
  position: relative;
  border-top: 1rem solid black;
  border-bottom: 1rem solid black;
  border-radius: 1rem 1rem 0 0;
}

.photogrid-wrapper-hero {
  position: relative;
  border-top: 1rem solid black;
  border-bottom: 1rem solid black;
  border-radius: 1rem 1rem 0 0;
}

.photo-btn-box {
  overflow: hidden;
  position: relative;
}

.photo-btn-box-HERO {
  overflow: hidden;
  max-height: 650px;
  position: relative;
}

.photo-btn {
  position: relative;
  aspect-ratio: 2/1;
  min-height: 25vh;

  object-fit: cover;
  transition: all 0.2s ease;
  cursor: pointer;
  filter: brightness(80%);
  justify-self: center;
}

.photo-btn:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  filter: brightness(100%);
}

.photo-hero {
  position: relative;
  aspect-ratio: 2/1;
  min-height: 25vh;
  object-fit: cover;
  transition: all 0.2s ease;
  filter: brightness(80%);
  justify-self: center;
  object-position: center bottom;
}

.photo-hero:hover {
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  transform: scale(1.03);

  filter: brightness(100%);
}

.h4-title {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 5px 0 black;
  position: absolute;
  left: 50%;
  top: -5px;
  z-index: 2;
  transform: translate3d(-50%, -50%, 0);
  padding: 4px 25px 7px;
  width: auto;
  background-color: var(--primary-color);

  border: 1px solid var(--primary-color);
  border-radius: 0.7rem;
  outline: 2px solid black;
  outline-style: ridge;
}

.h3-overlay {
  position: absolute;
  color: white;
  bottom: 0;
  left: 50%;

  transform: translate(-50%, -20%);
  white-space: nowrap;
}
