/* FORMAT 2 */

.card-wrapper {
  border-radius: 0.5rem;
}

.img-wrapper {
  display: flex;
  align-items: center;
}
.img-fmt2-box {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-fmt2-box img {
  transition: transform 0.2s ease-in-out;

  aspect-ratio: 1.1/1;
  min-height: 450px;
  object-fit: cover;
  z-index: -1;
}

.img-fmt2-box img:hover {
  transform: scale(1.05);
}

.info {
  min-height: 40vh;
  border-radius: 0.5rem;
}

.info h3 {
  font-size: 3rem;
  line-height: 4rem;
  text-decoration: underline;
}

.info p {
  font-size: 1.2rem;
  font-weight: 700;
}
