/* FORMAT 2 */
.card-observer {
  opacity: 0;

  transition: all 1s ease;
}
.left {
  transform: translateX(-100px);
}

.right {
  transform: translateX(100px);
}
.card-observer.show-card {
  opacity: 1;
  transform: translateX(0);
}

.card-wrapper {
  /* background: rgba(234, 109, 124, 1); */
  background: var(--card-background);
  /* background: #524e4ed4;
  background: #524e4e; */
  /* background: #76a3b0; */
  /* background: rgb(252, 161, 172); */

  z-index: -99;
  /* border-top: 0.5rem solid black;
  border-bottom: 0.5rem solid black; */
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.img-wrapper {
  display: flex;
  align-items: center;
}
.img-fmt2-box {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: contain;
}

.img-fmt2-box img {
  transition: transform 1.5s ease-in-out;
  aspect-ratio: 1.4/1;
  min-height: 400px;
  min-width: 380px;
  object-fit: cover;
  object-position: center center;
}

.img-fmt2-box img:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}

.info {
  z-index: 1;
}

.info h3 {
  font-size: 3rem;
  line-height: 4rem;
  font-family: var(--special-font);

  /* font-weight: 900; */
  /* text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, -0px 0px 0 #fff,
    1px 5px 0px #fff; */
}

.info p {
  /* font-size: 1.1rem; */
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 2px;
  /* text-shadow: -1px 1px 0 #fff, 0px 1px 0 #fff, -0px 0px 0 #fff,
    1px 1px 1px #fff; */
  text-transform: none;

  /* color: white; */
}
