.page-wrapper {
  position: relative;
}

.h4-title2 {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 5px 0 black;
  position: absolute;
  left: 50%;
  top: -20px;
  z-index: 2;
  transform: translate3d(-50%, -50%, 0);
  padding: 4px 25px 7px;
  width: auto;
  background-color: var(--primary-color);

  border: 1px solid var(--primary-color);
  border-radius: 0.7rem;
  outline: 2px solid black;
  outline-style: ridge;
}

.page-content {
  background: rgba(234, 109, 124, 0.7);
  font-size: 1.15rem;
}

.page-faqs {
  transform: translateY(-1rem);
}

.section {
  border-bottom: 1rem solid black;
  border-radius: 0 0 1rem 1rem;
}
