/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

@font-face {
  font-family: "nove";
  src: url(../../../fonts/Nove.ttf);
  font-style: normal;
}
@font-face {
  font-family: "InformaPro.ttf";
  src: url(../../../fonts/InformaPro.ttf);
  /* src: local("Informa Pro"), local("InformaPro"),
    url("InformaPro.eot?#iefix") format("embedded-opentype"),
    url("InformaPro.woff2") format("woff2"),
    url("InformaPro.woff") format("woff"),
    url("InformaPro.ttf") format("truetype"); */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MavenPro-VariableFont_wght.ttf";
  src: url(../../../fonts/MavenPro/MavenPro-VariableFont_wght);
  font-weight: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #000;
  background-color: rgb(227, 227, 227);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  margin: none;

  --primary-color: hsl(353, 75%, 67%);
  --primary-color-brighter: hsl(353, 100%, 76%);
  --primary-color-brighter-transparent: hsl(353 100% 76% / 0.3);
  --secondary-color: hsl(53, 100%, 54%);
  --tertiary-color: hsl(23, 76%, 68%);
  --primary-font: "Montserrat", sans-serif;
  --special-font: "Nove";
  --nav-background: rgb(238, 126, 115);
  --nav-background-gradient: linear-gradient(
    180deg,
    rgba(238, 126, 115, 1) 7%,
    rgba(236, 118, 118, 1) 42%,
    rgba(235, 114, 121, 1) 100%
  );
}

/* REMOVE DEFAULT LINK TEXT DECORATION */

a:-webkit-any-link,
a:-webkit-any-link :link,
a:-webkit-any-link :visited,
a:-webkit-any-link :hover,
a:-webkit-any-link :active {
  text-decoration: none !important;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

html {
  overflow: hidden;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  /* display: flex; */
  min-width: 320px;
  min-height: 100vh;
  overflow: auto;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  font-family: var(--primary-font);
}

/* PAGES */

.page {
  margin: 1rem 12% 3rem 12%;
}

/* HOMEPAGE */

.homepage-wrapper {
  position: relative;
}

/* PROGRAMME */

.programme-wrapper {
  position: relative;
  height: 100%;
}
